<div class="container">

<table id="myTable">
  <tr>
    <td>
      1
    </td>
    <td>
      2
    </td>
    <td>
      3
    </td>
    <td>
      4
    </td>
    <td>
      5
    </td>


  </tr>
  <tr>
    <td>
      6
    </td>
    <td>
      7
    </td>
    <td>
      8
    </td>
    <td>
      9
    </td>
    <td>
      10
    </td>

  </tr>
</table>
<button class="btn-primary" onclick="takeControl()">Take Control</button>
<center>
<label id="result">No user Has control</label>

</center>
</div>
